.status-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

.detected {
    border: 1px solid red;
}

.not-detected {
    border: 1px solid green;
}